.box{
    width: 60vh;
    height: 60vh;
    background-color: bisque;
    transform: translate(50%, 50%);
    bottom: 50%;
    right: 50%;
    position: absolute;
}

.skraidantis{
    transform: translate(50%, 50%);
    bottom: 50%;
    right: 50%;
    position: absolute;
}